/* ---- GENERAL STYLES ---- */

*{
    color: white;
}

body{
    padding-top: 60px;
}

main{
    overflow: auto;
}

/* ---- HEADER---- */

header{
    background-color: rgb(44, 62, 80);
}

.nav-bar{
    background-color: rgb(44, 62, 80);
}


/* ----- HERO SECTION ---- */

.hero{
    background-color: rgb(26, 188, 156);
}

.hero img{
    width: 50%;
    max-width: 250px;
}

.widthed-hr{
    width: 15%;
    opacity: 1;
}

/* ---- PORTFOLIO SECTION ---- */

.portfolio img{
    width: 100%;
}

/* ---- ABOUT SECTION ---- */

.about{
    background-color: rgb(26, 188, 156);
}

.about .btn:hover i{
    color: black;
    transition: 0.1s;
}

/* ---- CONTACT SECTION ---- */

.contact button{
    background-color: rgb(26, 188, 156);
    border: 1px solid rgb(26, 188, 156);
}

.contact button:hover{
    background-color: white;
    border: 1px solid rgb(26, 188, 156);
}

.contact button:hover span{
color: black;
}