/* ---- GENERAL STYLES ---- */

*{
    color: white;
}

body{
    padding-top: 60px;
}

main{
    overflow: auto;
}

.widthed-hr{
    max-width: 15%;
    width: 10%;
    opacity: 1;
}

.dark-grey-color{
    color: rgb(51, 51, 51);
}

/*
CLASSE PER NON SCRIVERE TUTTE LE CLASSI UTILITIES NEGLI INPUT DEL FORM - NON USATA
.my-form{
    border: 0;
    border-bottom: 1px solid grey;
    color: black;
    padding: 0 0.25rem;
    border-radius: 0;
}
*/

/* ---- HEADER---- */

header{
    background-color: rgb(44, 62, 80);
}

.nav-bar{
    background-color: rgb(44, 62, 80);
}


/* ----- HERO SECTION ---- */

.hero{
    background-color: rgb(26, 188, 156);
}

.hero img{
    width: 50%;
    max-width: 250px;
}

/* ---- PORTFOLIO SECTION ---- */

.portfolio img{
    width: 100%;
}

/* ---- ABOUT SECTION ---- */

.about{
    background-color: rgb(26, 188, 156);
}

.about .btn:hover i{
    color: black;
    transition: 0.1s;
}

/* ---- CONTACT SECTION ---- */

.contact button{
    background-color: rgb(26, 188, 156);
    border: 1px solid rgb(26, 188, 156);
}

.contact button:hover{
    background-color: white;
    border: 1px solid rgb(26, 188, 156);
}

.contact button:hover span{
color: black;
}

/* ---- FOOTER ---- */

.footer-top{
    background-color: rgb(58, 84, 109);
}

.footer-top .btn{
    width: 40px;
}

.footer-top .btn:hover i{
    color: rgb(58, 84, 109);
}

.link-footer-top{
    text-decoration: none;
    color: #1abc9c;
}

.footer-bottom{
    background-color: rgb(44, 62, 80);
}